p(style="font-size: 17px;") 
  | Join together with other small businesses, 
  br
  | and procure your raw materials 
  | at low prices that large companies get.
  //- br
  //- br
  //- span
  //-   p Save money and raise your profit margins
  //-   p Get your product directly from the manufacturer/supplier
  //-   p Multiply your buying power and compete with big businesses
  //-   p Flexible Payment Terms
  //-   p Loyalty programs