a.btn.btn-success.btn-large(href="#bankModal", role="button", data-toggle="modal")
  span Change Password
#bankModal(class="modal hide", tabindex="-1", role="dialog", aria-labelledby="bankModalLabel", aria-hidden="true")
  form.form-horizontal(method="POST", action="/orders/#{txn.tid}/bank")
    .modal-header
      button(type="button", class="close", data-dismiss="modal", aria-hidden="true")×
      .lead(id="bankModalLabel") Provide Bank Detail
      small.text-center We will verify your RTGS payment against this bank account.
    .modal-body
      
    .modal-footer
      input.btn.btn-success(type="submit", value="Confirm Order")
      button.btn(data-dismiss="modal", aria-hidden="true") Go Back