extends ../layout
block partial
  .row.form-signin
    .span5
      h4 Instructions
      ol
        li Submit your email and we will send you the reset password email.
        br
        li Click on the Reset Password link in the email.
        br
        li Enter your new password.
    .span6
      form(method="POST", action="/forgot-password")

        //- h3.form-signin-heading Forgot My Password

        p Email:
        input.input-block-level(type="email", name="email", placeholder="email", required, autofocus)
        br
        button.btn.btn-block.btn-large.btn-primary(type="submit")
          span Send Me Reset Password Email

        hr

        p &larr; &nbsp;
          a(href="/login") Go back to Login