extends ../layout
block partial
  .span6.offset3
    form.form-signin(name="loginForm", method="POST", action="/login")

      //- h3.form-signin-heading Log In

      p Email:
      input.input-block-level(type="email", name="email", placeholder="email", required, autofocus)
      br

      p Password: &nbsp;&nbsp;
        a(href="/forgot-password") 
          small Forgot Password?
      input.input-block-level(type="password", name="password", placeholder="password", required)

      br
      button.btn.btn-block.btn-large.btn-primary(type="submit")
        span Log In
      hr

      p 
        a(href="/register") Don't have an account? Register