extends ../layout

block partial

  .span6.offset3
    form.form-signin(name="registerForm", method="POST", action="/register", enctype="multipart/form-data")

      .lead.text-center Create your Tradohub account
      
      input.input-medium(type="text", name="name[first]", placeholder="First Name", autofocus)
      &nbsp;&nbsp;&nbsp;
      input.input-medium(type="text", name="name[last]", placeholder="Last Name")
      br

      input.input-block-level(type="email", name="email", placeholder="Email Address")
      br

      input.input-block-level(type="password", name="password", placeholder="Password")
      br

      input.input-block-level(type="text", name="company[name]", placeholder="Company Name")
      br

      select.input-block-level(name="company[country]", required)
        option(value="") Select Country
        each i in countryList
          option(value=i.cca3) #{i.name}

      .fileupload.fileupload-new(data-provides="fileupload")
        P Import / Export Document:
        span.btn.btn-file.btn-block
          span.fileupload-new Select file
          span.fileupload-exists Change
          input(type="file", name="imexFile")
        &nbsp;
        span.fileupload-preview
        &nbsp;
        a.close.fileupload-exists(href="#", data-dismiss="fileupload", style="float: none")×

      button.btn.btn-block.btn-large.btn-primary(type="submit")
        span Create Account
      br
      small By signing up you agree to our Terms and Privacy Policy