//- Admin side nav
.well
  ul.nav.nav-list(style="padding:0;")
    li.nav-header Admin
    li: a(href="/admin/products") Products
    li: a(href="/admin/category") Category
    li: a(href="/admin/orders") Orders
    li: a(href="/admin/users") Users
    li: a(href="/account") Account
    
    li.divider
    li.nav-header
    li: a(href="http://support.tradohub.com") Frequently Asked Questions