//- Admin side nav
.well
  ul.nav.nav-list(style="padding:0;")
    li.nav-header Admin
      a(href="/admin/products") Products
      a(href="/admin/category") Category
      a(href="/admin/orders") Orders
      a(href="/admin/users") Users
      a(href="/account") Account
    
    li.divider
    li.nav-header
      a(href="http://support.tradohub.com") Frequently Asked Questions