extends ../layout
block partial
  .row
    .span2.well
      include ../_sidenav

    .span9.well
      form(name="resetPasswordForm", method="POST", action="/account/password")

        legend Change Password
        input(type="password", name="password", placeholder="password", required, autofocus)
        br
        button.btn.btn-large.btn-primary(type="submit")
          span Submit