extends ../layout
block partial
  .row
    .span2.well
      include ../_sidenav

    .span9.well
      form(method="POST", action="/account/password")

        legend Change Password
        label(for="password") Enter new password
        .text-error(style="display: inline; font-weight: normal;") (minimum 8 characters)
        br
        input#password(type="password", name="password", placeholder="New password", pattern=".{8,}", title="8 characters minimum", required, autofocus)
        br
        button.btn.btn-large.btn-primary(type="submit")
          span Change Password