.row
  ul.inline.text-center
    li: a(href="/about") About
    li: a(href="/products") Products
    li: a(href="#", onclick="javascript:FreshWidget.show();") Contact
    li: a(href="/about/terms") Terms
    li: a(href="/about/privacy") Privacy
    li: a(href="http://linkedin.com/company/tradohub") LinkedIn
    li: a(href="http://twitter.com/tradohub", target="_blank") Twitter

.row
  .span12.text-center
    small &copy; 2013 Tradohub.com All rights reserved.