.row
  ul.inline.text-center
    li: a(href="/about") About Us
    li: a(href="/products") Products
    li: a(href="/about/contact") Contact Us
    li: a(href="/about/terms") Terms
    li: a(href="/about/privacy") Privacy
    li: a(href="http://linkedin.com/company/tradohub") LinkedIn
    li: a(href="http://twitter.com/tradohub", target="_blank") Twitter

.row
  .span12.text-center
    small &copy; 2013 Tradohub.com All rights reserved.