div.span2.well
  div(ng-include="'/partials/sidenav'") 

div.span9.well
  legend Products List
  table.table.table-condensed
    thead
      tr
        th Name
        th Description
        th Edit
        th Delete
    tbody
      tr(ng-repeat="product in products")
        td 
          a(ng-href="/products/{{product.url}}") {{product.name}}
        td {{product.description}}
        td
          a.btn.btn-primary(ng-href="/admin/products/{{product.url}}") Edit
        td
          button.btn.btn-danger(ng-click="deleteProduct('{{product._id}}')") Delete

  hr

  form(name="addProductForm", ng-submit="addProduct()")
    fieldset
      legend Add a new product

      div.alert.alert-error(ng-show="invalidSubmitError")
        span Product was not submitted properly. Try again.

      input(type="text", name="name", placeholder="product name", ng-model="form.product.name", required)

      div.alert.alert-error(ng-show="addProductForm.name.$dirty && addProductForm.name.$invalid")
        span.error(ng-show="addProductForm.name.$error.required") Name Required

      br

      textarea(type="text", name="description", placeholder="description", ng-model="form.product.description")
      
      br
      {{form}}
      br

      button.btn.btn-large.btn-primary(type="submit", ng-disabled="addProductForm.$invalid")
        span Submit
