.jumbotron
  h2 Money saved is money earned.
  p.lead 
    span Amdavad's e-procurement platform helps your business maximize savings.
  br
  br
  a.btn.btn-large.btn-success(href="/register") Get started now

hr
.row
  .span4
    h3  RFQs and Quotes
    p  Get quotes within a day.
    //- p
    //-   a.btn(href="#") View details &raquo;

  .span4
    h3  Purchase Orders
    p  Create and send purchase orders with a single click.

    //- p
    //-   a.btn(href="#") View details &raquo;
  .span4
    h3  Dashboard 
    p Manage all procurement activities from the dashboard.