.jumbotron
  h2 Money saved is money earned.
  br
  br
  p.lead 
    span Amdavad's e-procurement platform helps streamline your business process
    br
    span and maximize savings.
  br
  a.btn.btn-large.btn-primary(href="/register") Get started now
br
hr
.row
  .span4
    p.lead.text-center  Request For Quotes
    p.text-center Get quotes within a day.
    //- p
    //-   a.btn(href="#") View details &raquo;

  .span4
    p.lead.text-center  Purchase Orders
    p.text-center Create and send purchase orders with a single click.

    //- p
    //-   a.btn(href="#") View details &raquo;
  .span4
    p.lead.text-center  Best Prices
    p.text-center Get the latest price updates by industry and product, right in your inbox.