form.form-signin(name="loginForm", ng-controller="LoginCtrl", ng-submit="submitLogin()")

  h3.form-signin-heading Log In

  div.alert.alert-error(ng-show="error")
    span {{error}}
  
  input.input-block-level(type="email", name="email", placeholder="email", ng-model="form.email", required, autofocus)

  div.alert.alert-error(ng-show="loginForm.email.$dirty && loginForm.email.$invalid")
    //- span.error(ng-show="loginForm.email.$error.required") Email Required

  br

  input.input-block-level(type="password", name="password", placeholder="password", ng-model="form.password", required)

  div.alert.alert-error(ng-show="loginForm.password.$dirty && loginForm.password.$invalid")
    span.error(ng-show="loginForm.password.$error.required") Password Required

  br
  button.btn.btn-large.btn-primary(type="submit", ng-disabled="loginForm.$invalid")
    span Submit

  hr

  p 
    a(href="/register") Don't have an account? Register