.navbar
  .navbar-inner
    a(href='/').brand #{title}
    ul.nav.pull-left
      li
        a(href="/products") Products
      li
        a(href='/quote') Request Quote
    if user
      ul.nav.pull-right
        li(style="padding:10px 15px 10px;")  Welcome, #{user.email}
        li
          a(href='/logout') Logout
    else
      ul.nav.pull-right
        li
          a(href='/login') Login
        li
          a(href='/register') Register