div.span2.well
  div(ng-include="'/partials/sidenav'") 

div.span9.well
  .lead Request For Quote
  table.table
    tbody
      tr
        td Order ID
        td {{txn.txnId}}
      tr
        td Query Date
        td {{txn.created}}
      tr
        td RFQ Description
        td {{txn.rfq.description}}
      tr
        td Quote Due In
        td {{txn.rfq.quoteDue}} day(s)
      tr
        td Requirement Within
        td {{txn.rfq.reqDue}} days
      tr
        td Approximate Order Value
        td {{txn.rfq.approxVal}} lakhs  
        //- check for if else
      tr
        td More Information
        td {{txn.rfq.info || '-'}}

  .lead Product List
  table.table
    thead
      tr
        th #
        th Name
        th Quantity
    tbody
      tr(ng-repeat="product in txn.products")
        td [ {{$index + 1}} ]
        td {{getName(product._product)}} 
        td {{product.quantity + ' ' + product.unit}}

  br

  .lead Shipping Address

  address.well
    strong {{address.company}}
    br
    span {{address.street}}
    br
    span {{address.city + ' , ' + address.state}}
    br
    span {{address.country + ' ' + address.pin}}
    br
    abbr(title="Phone") P:&nbsp;&nbsp;
    span {{address.phone.countryCode + '-'+address.phone.number}}

  br