extends ../index
block partial

  .span2.well
    include sidenav 

  .span9.well
    .row
      .span6
        h3 #{product.name}
        hr
        p #{product.description}
      .span3
        a.btn.btn-large.btn-success(href="/quote") Request For Quote