extends ../index
block partial

  div.span2.well
    include sidenav

  div.span9.well
    .lead Products
    ul
      for product in products
        li 
          a(href="/products/#{product.url}") #{product.name}