.span2.well
  div(ng-include="'/partials/sidenav'") 

.span9.well
  .row
    .span6
      h3 {{product.name}}
    .span3
      button.btn.btn-large.btn-success() Request For Quote
  hr
  p {{product.description}}