ul.nav.nav-list(style="padding:0;", ng-controller="NavbarCtrl")
  li.nav-header Catalog
  li(ng-class="{active: routeIs('/products')}")
    a(href="/products")  Products
  //- div(ng-show="isLoggedIn()")
  li.nav-header  Orders
  li(ng-class="{active: routeIs('/quote')}")
    a(href="/quote") Request For Quote
  li
    a(href="/orders") Order Status
  li.nav-header  Settings
  li
    a(href="/account") Account
  li.divider
  li
    a(href="/faq") Frequently Asked Questions