extends ../index
block partial

  .span2.well
    include sidenav

  .span9.well
    .lead Order Status
    table.table
      thead
        tr
          th ID
          th Status
          th Quote
          th Purchase Order
      tbody
        for txn in txns
          tr
            td 
              a(href="/orders/#{txn.tid}") #{txn.tid}
            td 
              include _txnStatus

            td #{txn.quote || 'Nil'}
            td
              button.btn.btn-success Purchase Order
          tr
            td(colspan="4") #{txn.status}