extends ../index
block partial

  .span2.well
    include sidenav

  .span9.well
    .lead Order Status
    table.table
      thead
        tr
          th ID
          th Status
          th Quote
          th Purchase Order
      tbody
        for order in txns
          tr
            td 
              a(href="/orders/#{order.tid}") #{order.tid}
            td #{order.status}
            td #{order.quote || 'Nil'}
            td
              button.btn.btn-success Purchase Order