extends dashboard

block leftbar
  h4 Products
  .row
    .span4
      unless !products
        ul
          for product in products
            li 
              a(href="/products/#{product['url']}") #{product['name']}
      else
        h5 #{product['name']}