case txn.status

  when 'requested'
    span Requested Quote

  when 'quoted'
    span Quote Received

  when 'ordered'
    span Payment Awaited

  when 'paid'
    span Payment Made

  when 'delivered'
    span Delivered
    
  when 'cancelled'
    span Order Cancelled