extends index
  
block partial
  .span12.text-center
    if settings['verbose errors']
      p Error: #{error.message}
      pre= error.stack
    else
      h1 500
      h3 an error ocurred ;(
      h3 Go Back