strong
  p Can't find the product you need ?
    br
    a(href="#proReqModal", role="button", data-toggle="modal")  Let us know and we will get it for you !
#proReqModal.text-center(class="modal hide", tabindex="-1", role="dialog", aria-labelledby="proReqModalLabel", aria-hidden="true")
  form.form-horizontal(method="POST", action="/contact")
    .modal-header
      button(type="button", class="close", data-dismiss="modal", aria-hidden="true")×
      .lead(id="proReqModalLabel") Need a different product ?
    .modal-body
      .control-group
        label.control-label(for="industry") Industry
        .controls
          select.input-xlarge#industry(name="product[industry]", required)
            option Select Industry
            each i in ['Polymers', 'Metals', 'Chemicals', 'Construction', 'Automobile', 'Agriculture', 'Food']
              option(value=i)= i
      
      .control-group
        label.control-label(for="productName") Product Name
        .controls
          input.input-xlarge#productName(type="text", name="product[name]", placeholder="Product Name (required)", required)

      .control-group
        label.control-label(for="productSpecs") Product Specification
        .controls
          input.input-xlarge#productName(type="text", name="product[specs]", placeholder="Product Specification")

      .control-group
        label.control-label(for="email") Your Email
        .controls
          input.input-xlarge(type="email", name="product[email]", placeholder="Your Email (required)", required)

    .modal-footer
      input.btn.btn-success(type="submit", value="Submit")
      button.btn(data-dismiss="modal", aria-hidden="true") Cancel