ul.nav.nav-list(style="padding:0;")
  li.nav-header Catalog
  li
    a(href="/products")  Products
  
  li.nav-header  Orders
  li
    a(href="/quote") Request For Quote
  li
    a(href="/orders") Order Status
  
  li.nav-header  Settings
  li
    a(href="/account") Account
  
  li.divider
  li
    a(href="/faq") Frequently Asked Questions