.well
  ul.nav.nav-list(style="padding:0;")
    
    li.nav-header  Orders
    li: a(href="/quote") Request For Quote
    li: a(href="/orders") Order Status
    
    li.nav-header  Settings
    li: a(href="/account") My Account
    
    li.divider
    li.nav-header
    li: a(href="/about/contact") Contact Us