ul.nav.nav-list(style="padding:0;")
  //- li.nav-header Catalog
  //-   a(href="/products")  Products
  
  li.nav-header  Orders
    a(href="/quote") Request For Quote
    a(href="/orders") Order Status
  
  li.nav-header  Settings
    a(href="/account") My Account
  
  li.divider
  li.nav-header
    a(href="http://support.tradohub.com", target="_blank") Frequently Asked Questions