ul.inline(style="text-align:center; padding-top:20px")
  //- li 
  //-   a(href="/") #{title}
  li
    a(href="#") Company
  li.muted |
  li
    a(href="/products") Products
  li.muted |
  li 
    a(href="#") Terms & Conditions
  li.muted |
  li
    a(href="#") Privacy
  li &copy; 2013 #{title}