extends layout
block indexPage
  .jumbotron
    .container
      br
      br
      h2 Empowering small businesses to succeed in India
      br
      p.lead 
        span Join together with other small businesses, and procure your raw materials
        br 
        span 
        em(style="border-bottom: 2px solid white;") at low prices that only large companies get.
      

      br
      a.btn.btn-large.btn-primary(href="/register") Get Started Today
    br
    br
  br
  .container
    .row.well
      .row
        .span12
          cats = ['Aluminum', 'Copper', 'Engineering Polymers', 'Commodity Polymers', 'Nickel']
          - for c in category
            - for cat in cats
                if c.name == cat
                  .pointSpan
                    #points
                      ul.unstyled
                        p
                          strong= c.name
                        for p in c.products
                          li
                            a(href="/products/#{p.url}") #{p.name}
                  - break
      .row
        .span12.text-center
          a(href="/products")
            hr
            h4 See All Products &rarr;
          include _newProductRequest          

    .row.well
      .lead.text-center Why buy with us ?
      .row
        .span12
          .pointSpan
            h5 Increase profit margins
            small Get competitive prices for all products.
          .pointSpan
            h5 Compete with big companies
            small We group orders from small businesses like you and negotiate 
              | better prices from manufacturers / producers.
          .pointSpan
            h5 Direct from manufacturer / producer
            small We supply your raw materials directly from the the manufacturer / producer.
          .pointSpan
            h5 Online procurement platform
            small Now you can manage all your raw material procurement easily on our platform.
          .pointSpan
            h5 Loyalty programs
            small We have exciting loyalty programs, to empower you grow even faster.
      .row
        .span12.text-center
          a(href="#")
            hr
            h4 Learn More &rarr;    
    
    .row.well
      .row
        .lead.text-center How it works ?
        .span12
          .pointSpan
            h5 You Request Quote
          .pointSpan
            h5 We aggregate demand
          .pointSpan
            h5 We negotiate price with manufacturer
          .pointSpan
            h5 You make payment
          .pointSpan
            h5 We deliver the product at your factory / warehouse
      .row
        .span12.text-center
          a(href='#', onclick="javascript:FreshWidget.show();")
            hr
            h4 Got Questions ?