extends layout
block indexPage
  .jumbotron
    .container
      br
      br
      h2 Enabling small business to succeed in India
      br
      p.lead 
        span Get quotes and buy all your material supplies online,
        br 
        span at 
        em(style="border-bottom: 2px solid white;") large volume rates.
      

      br
      a.btn.btn-large.btn-primary(href="/register") Get Started Today
    br
    br
  br
  .container
    .row.well
      .span4
        h3 Products
        #points
          ul.unstyled
            for c in category
              for p in c.products
                li #{p.name}
            a(href="/products") All products &rarr;

      .span4
        .lead Why Buy With Us ?
        #points
          p Save money and raise your profit margins
          p Multiply your buying power and compete with big businesses
          p Flexible Payment Terms
          p Loyalty programs
          a Learn More &rarr;
    
    
      
      .span5
        .lead How It Works ?
        #points
          ol
            li
              strong Request a quote for the product.
              ul
                li We aggregate demand from other businesses like you.
                li We negotiate price for aggregated demand from supplier.
                li We decide the payment terms.
                li We send you the quote and purchase order form.
            li
              strong Print, sign, scan and upload the purchase order.
            li
              strong We send you the product, before or after the payment based on the terms.