extends layout
block indexPage
  .jumbotron
    .dotted
      .container
        .row
          .span8.offset2
            h3 Group buying platform for raw material requirements of MSMEs in India
            hr
        .row
          .span4.offset2(style="text-align: left; border-right: 1px solid #fff;")
            div(style=" padding-left: 35px;")
              h4 Benefits
              ul.unstyled
                li: strong Increase profit margins
                li: strong Compete with large enterprises
                li: strong Direct, timely delivery
                li: strong Online procurement platform
                li: strong Loyalty programs
          .span3.text-center(style="text-align: left;")
            br
            br
            
            a.btn.btn-primary(href="/register")
              | Register your business
            h5 to request quotes and get offers

  br
  .container
    .well
      .row
        cats = ['Engineering Polymers', 'Commodity Polymers', 'Aluminum', 'Copper', 'Nickel']
        - for c in category
          - for cat in cats
              if c.name == cat
                .pointSpan
                  #points
                    ul.unstyled
                      p
                        strong= c.name
                      for p in c.products
                        li
                          a(href="/products/#{p.url}") #{p.name}
                - break
      .row
        .text-center
          a(href="/products")
            h4 See All Products &rarr;
      //- hr
    .well
      .row
        .span6.text-center
          include _newProductRequest
        .span5.text-center
          strong
            p Are you a manufacturer / supplier ?
              br
              a(href="/partners") Partner with Us

    .well
      legend.text-center How it works ?
      img(src="img/tradohub-hiw.png")

    .well
      legend.text-center Why buy with us ?
      .row.text-center
        
        .pointSpan
          h5 Increase profit margins
          p Get competitive prices for all products.
        
        .pointSpan
          h5 Compete with large enterprises
          p We group orders from small businesses like you and negotiate 
            | better prices from manufacturers / producers.
        
        .pointSpan
          h5 Direct, timely delivery
          p We supply your raw materials directly from the the manufacturer / producer.
            | We work hard to deliver your products on time everytime.
        
        .pointSpan
          h5 Online procurement platform
          p Now you can manage all your raw material procurement easily on our platform.
        
        .pointSpan
          h5 Loyalty programs
          p We have exciting loyalty programs, to empower you grow even faster.
      hr
      .row.text-center
        a(href='#', onclick="javascript:FreshWidget.show();")
          h4 Still got questions ?
      //- .row
      //-   .span12.text-center
      //-     a(href="#")
      //-       hr
      //-       h4 Learn More &rarr;
    