extends layout

block head
  //-
    script(src='/js/lib/angular.min.js')
    script(src='/js/lib/angular-resource.min.js')
    script(src='/js/app.js')
    script(src='/js/services.js')
    script(src='/js/controllers.js')
    script(src="/js/lib/jquery.js")
    script(src="/js/lib/bootstrap.min.js")
    script(src="/js/lib/ui-bootstrap.min.js")
  script(src="/js/amdavad.js")
  
block body
  #wrap
    div(ng-include="'/partials/navbar'")
    .container
      .row
        div(ng-view)
      hr
    #push
  #footer
    .container
      include footer
