extends layout

block head
  //-
    script(src="/js/lib/ui-bootstrap.min.js")
  // script(src="/js/lib/angular.min.js")
  script(src="/js/lib/jquery.js")
  script(src="/js/lib/bootstrap.min.js")

  block script
  
block body
  #wrap
    .container
      .row
        .span12
          include partials/navbar

      if ( typeof(error) != "undefined" && error != "" )
        .row
          .span12
            .alert.alert-error.fade.in.text-center
              button.close(type="button", data-dismiss="alert") ×
              span #{error}

      if ( typeof(success) != "undefined" && success != "")
        .row
          .span12
            .alert.alert-success.fade.in.text-center
              button.close(type="button", data-dismiss="alert") ×
              span #{success}
              
      .row
        block partial
      hr
    #push
  #footer
    .container
      include footer