doctype 5
html(lang="en", ng-app='amdavad')
  head
    meta(charset="utf-8")
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/custom.css')

    block head
    
  body
    // script
    //   angular.element(document).ready(function() {
    //     angular.bootstrap(document, ['amdavad', 'Auth']);
    //   });
    block body