doctype 5
html(lang="en", ng-app='tradohub')
  head
    title= title
    
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    //- google site verification and google plus for seo
    meta(name="google-site-verification", content="tryhOLaGu_vyDVy7tnkXwKx97pRtO9zWIehtde7c51o")
    link(rel='publisher', href='https://plus.google.com/100924688401941838725')
    meta(name='description', content='Raise profit margins, get volume and loyalty discounts, buy all your raw material needs for polymers, plastics and metals from Tradohub.')
    
    link(rel='stylesheet', href='#{staticFiles.mainCss}')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')

  body
    #wrap
      include partials/_navbar
      #content-wrap
        .container
          include partials/_flashMessage
          block partial
        block indexPage
      
      hr
      #push
      
    script(type="text/javascript", src="#{staticFiles.mainJs}")
    
    block script

    //- Google analytics start
    include partials/_googleAnalytics
    //- google analytics end
    #footer
      .container
        include partials/_footer