doctype 5
html(lang="en", ng-app="amdavad")
  head
    meta(charset="utf-8")
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/less/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')

    block head
    
  body
    block body