doctype 5
html(lang="en", ng-app='tradohub')
  head
    meta(charset="utf-8")
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/custom.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/select2.css')
    link(rel='stylesheet', href='/css/select2-bootstrap.css')
    //-
      script(src="/js/lib/ui-bootstrap.min.js")
    // script(src="/js/lib/angular.min.js")
    script(src="/js/lib/jquery.js")
    script(src="/js/lib/bootstrap.min.js")
    script(src="/js/lib/select2.min.js")

    block script
    
  body
    #wrap
      include _navbar
      .container
        include _flash
        block partial
      block indexPage
      
      #push

    //- Select2 search bar start
    script(type="text/javascript")
      $('.select2').select2({ placeholder : '' });
      
      // $('.select2-remote').select2({ data: [{id:'A', text:'A'}]});

      //- $('button[data-select2-open]').click(function(){
      //-   $('#' + $(this).data('select2-open')).select2('open');
      //- });

    //- select2 end

    //- Freshdesk Support Widget start
    script(type="text/javascript", src="http://assets.freshdesk.com/widget/freshwidget.js")
    style(type="text/css". media="screen, projection")
      @import url(http://assets.freshdesk.com/widget/freshwidget.css);
    script(type="text/javascript")
      FreshWidget.init("", {"queryString": "&formTitle=Tradohub+Help+and+Support&submitThanks=Thank+you.+We+will+get+back+to+you.", "buttonText": "Contact Us", "buttonColor": "white", "buttonBg": "#086DFF", "alignment": "4", "offset": "400px", "url": "http://support.tradohub.com", "assetUrl": "http://assets.freshdesk.com/widget"} );

    //- Freshdesk end

    #footer
      .container
        include _footer