.navbar(ng-controller="NavbarCtrl")
  .navbar-inner
    a(href='/').brand #{title}
  
    ul.nav.pull-right(ng-show="{{User.isLoggedIn}}")
      li(style="padding:10px 15px 10px;")  Welcome, {{user.email}}
      li
        a(href='/dashboard') Dashboard
      li
        a(href='/logout') Logout
    ul.nav.pull-right(ng-show="{{!user.isLoggedIn}}")
      li
        a(href='/login') Login
      li
        a(href='/register') Register

    ul.nav.pull-right
      li
        a(href="/products") Products