extends layout

block style
  style
    .form-signin {
      max-width: 300px;
      padding: 19px 29px 29px;
      margin: 0 auto 20px;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
              box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }
    .form-signin input[type="text"],
    .form-signin input[type="password"] {
      font-size: 16px;
      height: auto;
      margin-bottom: 15px;
      padding: 7px 9px;
    }

block content
  form.form-signin(method="post", action="/register")
    h3.form-signin-heading Register your #{title} account
    input.input-block-level#email(type="text", name="email", placeholder="email")
    br
    input.input-block-level#password(type="password", name="password", placeholder="password")
    br
    input.input-block-level#confirmPassword(type="password",name="confirmPassword", placeholder="confirm password")
    br
    input.btn.btn-large.btn-primary(type="submit", value="Submit")
    hr
    p Already have an account ?&nbsp;
      a(href="/login") Login