html,
body {
  /*padding-top: 15px;*/
  height: 100%;
/*  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;*/
  background-color: #f5f5f5;
}
.well {
  background-color: #fefefe;
}
/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
/*.container > hr {
  margin: 60px 0;
}*/
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 50px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* login/register template css */
.form-signin {
  /*max-width: 300px;*/
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
/* dashboard */
.side-nav {
  padding: 10px 10px 10px;
  margin: 0 auto 10px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}