html,
body {
  /*padding-top: 35px;*/
  height: 100%;
/*  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;*/
  background-image: url('/img/back-texture.png');
  background-image: url('https://s3.amazonaws.com/tradohub/static/img/back-texture.png');
  background-color: #f5f5f5;
  /*border-top: 1px solid #049cdb;*/
}
.well {
  background-color: #fefefe;
}
/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
/*.container > hr {
  margin: 60px 0;
}*/
/* Wrapper for page content to push down footer */
#wrap {
  /*padding-top: 35px;*/
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/*content wrapper for fixed navbar height*/
#content-wrap {
  padding-top: 70px; 
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
/*#footer {
  background-color: #f5f5f5;
}*/

/* Main marketing message and sign up button */
.jumbotron {
  /*margin: 50px 0;*/
  text-align: center;
  color: #fff;
  background-image: url('/img/index-back.jpg');
  background-image: url('https://s3.amazonaws.com/tradohub/static/img/index-back.jpg');
  background-color: #000;
  background-size: 100% 100%;
  text-shadow: 2px 2px rgb(10, 10, 10);
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

#points {
  font-size: 15px;
  font-weight: 200;
  line-height: 25px;
}

#points ul {
  margin: 0 0 10px 10px;
}

#points ol li {
  line-height: 25px;
}

#points ul li {
  font-size: 13.5px;
}
/* login/register template css */
.form-signin {
  /*max-width: 300px;*/
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
  font-size: 15px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.form-signin label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}
/* dashboard */
.side-nav {
  padding: 10px 10px 10px;
  margin: 0 auto 10px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
  display: block;
  margin: 0;
}

.pointSpan {
  width: 170px;
  float: left;
  min-height: 1px;
  margin-left: 10px;
}

.search-bar {
  width: 400px;
}

form label.optional:after {
  font-weight: normal;
  font-style: italic;
  content: ' (optional)';
  display: inline;
}