extends layout

block message
  p
    case user.status
      
      when 'activated'
        | Congratulations! Your Tradohub account has been activated.
        br
        br
        | You've joined a group of 100s of Indian SMEs who procure their 
        | material supplies on Tradohub.
        br
        br
        strong Now, you can start requesting quotes and making orders.
        br
        br
        div(align='center', width='300', bgcolor='#51a351')
          a(href='#{user.linkUrl}', 
            style='color: #fff; text-decoration: none; background: #51a351; font-size:18px; padding-top: 6px; padding-right: 10px; padding-bottom: 6px; padding-left: 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #fff; font-weight: bold; text-decoration: none; font-family: Helvetica, Arial, sans-serif; display: block;')
              | #{user.linkName}
      
      when 'blocked'
        strong Your Tradohub account has been blocked by our support team.