!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml')
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  title Buy Polymers of High Quality at Low Prices
  style(type='text/css')
    #outlook a{
    padding:0;
    }
    .ReadMsgBody{
    width:100%;
    }
    .ExternalClass{
    width:100%;
    }
    .yshortcuts,a .yshortcuts,a .yshortcuts:hover,a .yshortcuts:active,a .yshortcuts:focus{
    background-color:transparent !important;
    border:none !important;
    color:inherit !important;
    }
    body{
    margin:0;
    padding:0;
    }
    img{
    border:0;
    height:auto;
    line-height:100%;
    outline:none;
    text-decoration:none;
    }
    table,td{
    border-collapse:collapse !important;
    mso-table-lspace:0pt;
    mso-table-rspace:0pt;
    }
    #bodyTable,#bodyCell{
    height:100% !important;
    margin:0;
    padding:0;
    width:100% !important;
    }
    #bodyCell{
    padding:20px;
    }
    #templateContainer{
    width:600px;
    }
    /*
    @tab Page
    @section background color
    @tip Set the background color for your email. You may want to choose a color that matches your company's branding.
    @theme page
    */
    body,#bodyTable{
    background-color:#ffffff;
    }
    /*
    @tab Page
    @section heading 1
    @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
    @style heading 1
    */
    h1{
    color:#C52E26 !important;
    display:block;
    font-family:Georgia;
    font-size:30px;
    font-style:normal;
    font-weight:normal;
    line-height:100%;
    letter-spacing:normal;
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
    text-align:center;
    }
    /*
    @tab Page
    @section heading 2
    @tip Set the styling for all second-level headings in your emails.
    @style heading 2
    */
    h2{
    color:#000000 !important;
    display:block;
    font-family:Verdana;
    font-size:20px;
    font-style:normal;
    font-weight:bold;
    line-height:100%;
    letter-spacing:normal;
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
    text-align:center;
    }
    /*
    @tab Page
    @section heading 3
    @tip Set the styling for all third-level headings in your emails.
    @style heading 3
    */
    h3{
    color:#202020 !important;
    display:block;
    font-family:Georgia;
    font-size:16px;
    font-style:normal;
    font-weight:normal;
    line-height:100%;
    letter-spacing:normal;
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
    text-align:center;
    }
    /*
    @tab Page
    @section heading 4
    @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
    @style heading 4
    */
    h4{
    color:#C52E26 !important;
    display:block;
    font-family:Verdana;
    font-size:14px;
    font-style:normal;
    font-weight:normal;
    line-height:100%;
    letter-spacing:normal;
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
    text-align:left;
    }
    /*
    @tab Header
    @section preheader style
    @tip Set the borders for your email's preheader area.
    @theme header
    */
    #templatePreheader{
    background-color:#ffffff;
    border-top:0;
    border-bottom:0;
    }
    /*
    @tab Header
    @section preheader text
    @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
    */
    .preheaderContent{
    color:#ffffff;
    font-family:Verdana;
    font-size:10px;
    line-height:100%;
    text-align:left;
    }
    /*
    @tab Header
    @section preheader link
    @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
    */
    .preheaderContent a:link,.preheaderContent a:visited,.preheaderContent a .yshortcuts {
    color:#FFFFFF;
    font-weight:normal;
    text-decoration:underline;
    }
    /*
    @tab Header
    @section header style
    @tip Set the borders for your email's header area.
    @theme header
    */
    #templateHeader{
    background-color:#ffffff;
    border-top:5px none #e0d9d9;
    border-bottom:0;
    padding:0px;
    }
    /*
    @tab Header
    @section header text
    @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
    */
    .headerContent{
    color:#000000;
    font-family:Verdana;
    font-size:20px;
    font-weight:bold;
    line-height:100%;
    padding-top:20px;
    padding-right:20px;
    padding-bottom:0;
    padding-left:20px;
    text-align:center;
    vertical-align:middle;
    }
    /*
    @tab Header
    @section header link
    @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
    */
    .headerContent a:link,.headerContent a:visited,.headerContent a .yshortcuts {
    color:#000000;
    font-weight:normal;
    text-decoration:underline;
    }
    #headerImage{
    height:auto;
    max-width:600px;
    }
    /*
    @tab Body
    @section body style
    @tip Set the borders for your email's body area.
    */
    #templateBody{
    background-color:#ffffff;
    border-top:0;
    border-bottom:0;
    }
    /*
    @tab Body
    @section body title text
    @tip Set the styling for your email's body title content text. Choose a size and color that is easy to read.
    */
    .bodyTitleContent{
    border-top:1px solid #CCCCCC;
    border-bottom:1px solid #CCCCCC;
    color:#333333;
    font-family:Georgia;
    font-size:16px;
    line-height:150%;
    text-align:center;
    }
    /*
    @tab Body
    @section body title link
    @tip Set the styling for your email's body title content links. Choose a color that helps them stand out from your text.
    */
    .bodyTitleContent a:link,.bodyTitleContent a:visited,.bodyTitleContent a .yshortcuts {
    color:#202020;
    font-weight:normal;
    text-decoration:underline;
    }
    /*
    @tab Body
    @section body text
    @tip Set the styling for your email's main content text. Choose a size and color that is easy to read.
    @theme main
    */
    .bodyContent{
    color:#333333;
    font-family:Verdana;
    font-size:14px;
    line-height:150%;
    padding-top:0;
    padding-right:20px;
    padding-bottom:40px;
    padding-left:20px;
    text-align:left;
    }
    /*
    @tab Body
    @section body link
    @tip Set the styling for your email's main content links. Choose a color that helps them stand out from your text.
    */
    .bodyContent a:link,.bodyContent a:visited,.bodyContent a .yshortcuts {
    color:#C52E26;
    font-weight:normal;
    text-decoration:none;
    }
    .bodyContent img{
    display:inline;
    height:auto;
    max-width:560px;
    }
    /*
    @tab Footer
    @section footer style
    @tip Set the borders for your email's footer area.
    @theme footer
    */
    #templateFooter{
    border-top:0;
    border-bottom:0;
    }
    /*
    @tab Footer
    @section footer text
    @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
    @theme footer
    */
    .footerContent{
    color:#202020;
    font-family:Verdana;
    font-size:10px;
    line-height:150%;
    padding-top:20px;
    padding-bottom:20px;
    text-align:center;
    }
    /*
    @tab Footer
    @section footer link
    @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
    */
    .footerContent a:link,.footerContent a:visited,.footerContent a .yshortcuts,.footerContent a span {
    color:#C52E26;
    font-weight:bold;
    text-decoration:none;
    }
    .footerContent img{
    display:inline;
    height:auto;
    max-width:600 !important;
    }
    @media only screen and (max-width: 500px){
    body,table,td,p,a,li,blockquote{
    -webkit-text-size-adjust:none !important;
    }
    } @media only screen and (max-width: 500px){
    body{
    width:auto !important;
    }
    } @media only screen and (max-width: 500px){
    td[id=bodyCell]{
    padding:10px;
    }
    } @media only screen and (max-width: 500px){
    /*
    @tab Mobile Styles
    @section template width
    @tip Make the template fluid for portrait or landscape view adaptability. If a fluid layout doesn't work, set width to 300px instead.
    */
    table[id=templateContainer]{
    /*@tab Mobile Styles
    @section template width
    @tip Make the template fluid for portrait or landscape view adaptability. If a fluid layout doesn't work, set width to 300px instead.*/max-width:600px !important;
    width:100% !important;
    }
    } @media only screen and (max-width: 500px){
    /*
    @tab Mobile Styles
    @section heading 1
    @tip Make the first-level headings larger in size for better readability on small screens.
    */
    h1{
    font-size:40px !important;
    line-height:100% !important;
    }
    } @media only screen and (max-width: 500px){
    /*
    @tab Mobile Styles
    @section heading 2
    @tip Make the second-level headings larger in size for better readability on small screens.
    */
    h2{
    font-size:20px !important;
    line-height:100% !important;
    }
    } @media only screen and (max-width: 500px){
    /*
    @tab Mobile Styles
    @section heading 3
    @tip Make the third-level headings larger in size for better readability on small screens.
    */
    h3{
    font-size:18px !important;
    line-height:100% !important;
    }
    } @media only screen and (max-width: 500px){
    /*
    @tab Mobile Styles
    @section heading 4
    @tip Make the fourth-level headings larger in size for better readability on small screens.
    */
    h4{
    font-size:16px !important;
    line-height:100% !important;
    }
    } @media only screen and (max-width: 500px){
    table[id=templatePreheader]{
    display:none !important;
    }
    } @media only screen and (max-width: 500px){
    table[id=templateHeader]{
    width:100% !important;
    }
    } @media only screen and (max-width: 500px){
    /*
    @tab Mobile Styles
    @section header image
    @tip Make the main header image fluid for portrait or landscape view adaptability, and set the image's original width as the max-width. If a fluid layout doesn't work, set width to 300px or half-size instead.
    */
    img[id=headerImage]{
    /*@tab Mobile Styles
    @section header image
    @tip Make the main header image fluid for portrait or landscape view adaptability, and set the image's original width as the max-width. If a fluid layout doesn't work, set width to 300px or half-size instead.*/height:auto !important;
    max-width:233px !important;
    width:100% !important;
    }
    } @media only screen and (max-width: 500px){
    /*
    @tab Mobile Styles
    @section header text
    @tip Make the header content text larger in size for better readability on small screens.
    */
    td[class=headerContent]{
    font-size:20px !important;
    line-height:150% !important;
    padding-top:20px !important;
    padding-right:10px !important;
    padding-bottom:20px !important;
    padding-left:10px !important;
    }
    } @media only screen and (max-width: 500px){
    /*
    @tab Mobile Styles
    @section body text
    @tip Make the body content text larger in size for better readability on small screens.
    */
    td[class=bodyContent]{
    font-size:18px !important;
    line-height:125% !important;
    padding-right:10px;
    padding-left:10px;
    }
    } @media only screen and (max-width: 500px){
    /*
    @tab Mobile Styles
    @section footer text
    @tip Make the footer content text larger in size for better readability on small screens.
    */
    td[class=footerContent]{
    font-size:14px !important;
    line-height:150% !important;
    }
    } @media only screen and (max-width: 500px){
    td[class=footerContent] a{
    display:block !important;
    }
    }   .bodyContent a:link,.bodyContent a:visited,.bodyContent a .yshortcuts{
    color:#0088cc;
    font-weight:bold;
    }
    .footerContent a:link,.footerContent a:visited,.footerContent a .yshortcuts,.footerContent a span{
    color:#0088cc;
    }
  body
    center
      table#bodyTable(align='center', border='0', cellpadding='0', cellspacing='0', height='100%', width='100%')
        tr
          td#bodyCell(align='center', height='100%', valign='top', width='100%')
            table#templateContainer(border='0', cellpadding='0', cellspacing='0')
              tr
                td(align='center', valign='top')
                  //
                     BEGIN PREHEADER 
                  table#templatePreheader(border='0', cellpadding='0', cellspacing='0', width='600')
                    tr
                      td.preheaderContent(style='padding-top: 15px; padding-right: 20px; padding-bottom: 15px; padding-left: 20px;', mc:edit='preheader_content00')
                        div
                          img(align='none', height='18', src='http://gallery.mailchimp.com/7be12c2a7d11193e9a0680592/images/tradohub_blue_logo.png', style='width: 121px; height: 18px;', width='121')
                      //
                         *|IFNOT:ARCHIVE_PAGE|* 
                      td.preheaderContent(width='200', style='padding-top: 15px; padding-right: 20px; padding-bottom: 15px; padding-left: 20px;', mc:edit='preheader_content01')
                      //
                         *|END:IF|* 
                  //
                     END PREHEADER 
              tr
                td(align='center', valign='top')
                  //
                     BEGIN HEADER 
                  table#templateHeader(border='0', cellpadding='0', cellspacing='0', width='100%')
                    tr
                      td.headerContent
                        img#headerImage(src='http://gallery.mailchimp.com/7be12c2a7d11193e9a0680592/images/image_13696355540071369635554.jpg', style='max-width: 600px;', mc:label='header_image', mc:edit='header_image', mc:allowdesigner='mc:allowdesigner', mc:allowtext='mc:allowtext')
                  //
                     END HEADER 
              tr
                td(align='center', valign='top')
                  //
                     BEGIN BODY 
                  table#templateBody(border='0', cellpadding='0', cellspacing='0', width='100%')
                    tr
                      td(align='center', valign='top')
                        table(border='0', cellpadding='20', cellspacing='0', width='100%')
                          tr
                            td(align='center', valign='top')
                              table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                tr
                                  td.bodyTitleContent(valign='top', style='padding-top: 20px; padding-bottom: 20px;', mc:edit='body_title_content')
                                    span(style='font-size: 18px;') Tradohub.com : Empowering small enterprises to succeed in India
                    tr
                      td.bodyContent(valign='top', mc:edit='body_content')
                        div
                          | Dear Sir,
                        div
                        div
                          a.tpl-content-highlight(href='http://www.tradohub.com/?invite=1', target='_self') Tradohub.com
                          | is a group buying platform for raw material requirements of small enterprises. Our mission is to empower small and medium enterprises to start, grow and succeed in India.
                        div
                        div
                          | We group together raw material requirements of many small enterprises, and negotiate with large suppliers like
                          strong
                            |  Arkema (France) 
                          | and
                          strong
                            |  Reliance Industries 
                          | for large volume discounted prices.
                        div
                        div
                          strong
                            |  Benefits for You: 
                        ul
                          li
                            strong
                              |  Lower prices: 
                            | Procure raw materials at highly subsidized rates.
                          li
                            strong
                              |  Reliable / trusted brands: 
                            | Our supplier partners are globally reputed manufacturers / producers.
                          li
                            strong
                              |  Direct, timely delivery: 
                            | Products delivered from manufacturer to your factory / warehouse, through our logistics partners.
                          li
                            strong
                              |  Increase competitiveness: 
                            | Raise profit margins and start competing with large companies.
                        div
                          span(style='color: rgb(109, 103, 103); font-family: arial, sans-serif;')
                            | Our focused sectors are polymers, engineering plastics and metals, and we would be expanding into other categories soon. Check all the products we are dealing with such as
                          span(style='color: rgb(109, 103, 103); font-family: verdana;') Polyethelene (HDPE, LDPE), Polypropylene (PP), PVC and PET here: 
                          b(style='color: rgb(109, 103, 103); font-family: verdana;')
                            a.tpl-content-highlight(href='http://www.tradohub.com/products?invite=1', style='color: rgb(17, 85, 204);', target='_blank') All Products
                          br
                        div
                          div
                            strong
                              |  How are we different from Indiamart, TradeIndia and other B2B platforms? 
                          ul
                            li
                              | We are not a B2B listing platform where buyers and sellers connect with each other.
                            li
                              | We combine raw material requirements of many small enterprises, and negotiate with large, globally reputed manufacturers / producers, to provide you the best products at low prices.
                          div
                            div
                              strong
                                | For learning more and registering your business, visit
                                a.tpl-content-highlight(href='http://www.tradohub.com', target='_self') Tradohub.com
                              br
                            div
                              | If you have any queries, reply to this email. We look forward to building a long lasting partnership with you.
                        div
                        div
                          | Thanks and Regards,
                        div
                          br
                          div
                            div
                              | Sanjay Domadiya
                            div
                            div
                              | Reg. Office: 602, Rajvi Arcade Opp. Gurukul Temple, Drive-In Road, Memnagar Ahmedabad - 380052, Gujarat, INDIA
                            div
                              | Cell: +91 97277-76735
                            div
                              | Email:
                              a.tpl-content-highlight(href='mailto:support@tradohub.com', target='_self') support@tradohub.com
                            div
                              | Web:
                              a.tpl-content-highlight(href='http://www.tradohub.com/?invite=1', target='_self') http://www.tradohub.com/
                        br
                  //
                     END BODY 
              tr
                td(align='center', valign='top')
                  //
                     BEGIN FOOTER 
                  table#templateFooter(border='0', cellpadding='0', cellspacing='0', width='100%')
                    tr
                      td.footerContent(valign='top', mc:edit='footer_content00')
                        a(href='http://www.twitter.com/tradohub', target='_self') Follow on Twitter
                        a(href='http://www.linkedin.com/company/tradohub', target='_self') Follow on LinkedIn
                        a(href='http://www.tradohub.com', target='_self') Learn More
                    tr
                      td.footerContent(valign='top', style='padding-top: 0;', mc:edit='footer_content01')
                        em Copyright © 2013 Tradohub.com, All rights reserved.
                  //
                     END FOOTER 
