!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
  head(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
    //-
         If you delete this tag, the sky will fall on your head 
    meta(name='viewport', content='width=device-width', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
    title(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')= user.title
  body(bgcolor='#FFFFFF', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; height: 100%; width: 100%;')
    //-
       HEADER 
    table.head-wrap(bgcolor='#F8F8F8', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 100%;')
      tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
        td.header.container(style='margin: 0 auto; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; display: block; max-width: 600px; clear: both;')
          .content(style='margin: 0 auto; padding: 15px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; max-width: 600px; display: block;')
            table(bgcolor='#F8F8F8', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 100%;')
              tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                  img(src='https://s3.amazonaws.com/tradohub/static/img/tradohub-blue-logo.png', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; max-width: 100%;')
                td(align='right', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                  h6.collapse(style='margin: 0; padding: 0; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom: 15px; color: #444; font-weight: 900; font-size: 14px; text-transform: uppercase;') Tradohub.com
        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
    //-
       /HEADER 
    //-
       BODY 
    table.body-wrap(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 100%;')
      tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
        td.container(bgcolor='#FFFFFF', style='margin: 0 auto; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; display: block; max-width: 600px; clear: both;')
          .content(style='margin: 0 auto; padding: 15px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; max-width: 600px; display: block;')
            table(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 100%;')
              tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                  h3(style='margin: 0; padding: 0; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom: 15px; color: #000; font-weight: 500; font-size: 17px;') Dear Sir,
                  br
                  p.lead(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 17px; line-height: 1.6;')
                    | Tradohub.com is a group buying platform for raw material requirements of small enterprises.

                  p.callout(style='margin: 0; padding: 15px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 15px; font-weight: normal; font-size: 14px; line-height: 1.6; background-color: #ECF8FF;')
                    | We combine raw material requirements of many small enterprises, and negotiate with globally reputed
                    | manufacturers / producers like 
                    strong Arkema (France), Reliance Industries
                    | , and many others to provide you the best products at low prices.
                    br
                    br
                    strong We also deliver the products at your warehouse / factory.
                  //-
                     A Real Hero (and a real human being) 
                  p(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
                    img(src='http://gallery.mailchimp.com/7be12c2a7d11193e9a0680592/images/image_13696355540071369635554.jpg', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; max-width: 100%;')
                  //-
                     /hero 
                  h3(style='margin: 0; padding: 0; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom: 15px; color: #000; font-weight: 500; font-size: 27px;')
                    | Benefits for You: 
                    small(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none;') (and other MSMEs)
                  p(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
                    ul
                      li(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
                        strong Lower prices: &nbsp;
                        | Procure raw materials at highly subsidized rates.
                      li(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
                        strong Reliable / trusted brands: &nbsp;
                        | Our supplier partners are globally reputed manufacturers / producers.
                      li(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
                        strong Direct, timely delivery: &nbsp;
                        | Products delivered from manufacturer to your factory / warehouse, through our logistics partners.
                      li(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
                        strong Increase competitiveness: &nbsp;
                        | Raise profit margins and start competing with large companies.

                  //-
                     Callout Panel 
                  p.callout(style='margin: 0; padding: 15px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 15px; font-weight: normal; font-size: 14px; line-height: 1.6; background-color: #ECF8FF;')
                    | Our focused sectors are polymers, engineering plastics and metals, and we would be expanding into
                    | other categories soon.
                    //- | Check all the products we are dealing with such as Polyethelene
                    //- | (HDPE, LDPE), Polypropylene (PP), PVC and PET here: 
                    //- br
                    //- a(href='#{"http://www.tradohub.com/products?invite=" + user.email}', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; color: #2BA6CB; font-weight: bold; text-decoration: none;') 
                    //-   strong All Products
                  //-
                     /Callout Panel 
                  p(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
                    strong How are we different from Indiamart, TradeIndia and other B2B platforms?
                    ul
                      li(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
                        | We are 
                        strong NOT 
                        | a B2B listing platform which help buyers and sellers connect with each other.
                      li(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
                        | As we said earlier, we combine raw material requirements of many small enterprises, and negotiate with globally reputed manufacturers / producers, to provide you the best products at low prices.
                      li(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
                        | We also deliver the product at your warehouse / factory.
                  //-
                     Callout Panel 
                  p.callout(style='margin: 0; padding: 15px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 15px; font-weight: normal; font-size: 14px; line-height: 1.6; background-color: #ECF8FF;')
                    strong To learn more about all our products or register your business:&nbsp;
                    a.btn(href="#{'http://www.tradohub.com?invite=' + user.email}", style='margin: 0; padding: 10px 16px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; color: #FFF; text-decoration: none; background-color: #51A351; font-weight: bold; margin-right: 10px; text-align: center; cursor: pointer; display: inline-block;') go to Tradohub.com »
                  //-
                     /Callout Panel 

                  br(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                  br(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                  //-
                     social & contact 
                  table.social(width='100%', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; background-color: #ebebeb; width: 100%;')
                    tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                      td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                        //-
                          - column 1 
                        table.column(align='left', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 280px; float: left; min-width: 279px;')
                          tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                            td(style='margin: 0; padding: 15px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                              h5(style='margin: 0; padding: 0; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom: 15px; color: #000; font-weight: 900; font-size: 17px;') Connect with Us:
                              br
                              br
                              p(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
                                a.soc-btn.li(href='www.linkedin.com/company/tradohub', style='margin: 0; padding: 3px 7px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; color: #FFF; font-size: 12px; margin-bottom: 10px; text-decoration: none; font-weight: bold; display: block; text-align: center; background-color: #007bb6;') LinkedIn
                                a.soc-btn.tw(href='www.twitter.com/tradohub', style='margin: 0; padding: 3px 7px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; color: #FFF; font-size: 12px; margin-bottom: 10px; text-decoration: none; font-weight: bold; display: block; text-align: center; background-color: #1daced;') Twitter
                                //- a.soc-btn.gp(href='#', style='margin: 0; padding: 3px 7px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; color: #FFF; font-size: 12px; margin-bottom: 10px; text-decoration: none; font-weight: bold; display: block; text-align: center; background-color: #DB4A39;') Google+
                        //-
                           /column 1 
                        //-
                          - column 2 
                        table.column(align='left', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 280px; float: left; min-width: 279px;')
                          tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                            td(style='margin: 0; padding: 15px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                              h5(style='margin: 0; padding: 0; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom: 15px; color: #000; font-weight: 900; font-size: 17px;') Contact Info:
                              br
                              p(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
                                | Sanjay Domadiya
                                br
                                br
                                | Reg. Office: 602, Rajvi Arcade Opp. Gurukul Temple, Drive-In Road, Memnagar Ahmedabad - 380052, Gujarat, INDIA
                                br
                                br
                                | Phone: 
                                strong(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;') +91 97277-76735
                                br(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                                | Email: 
                                strong(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                                  a(href='mailto:support@tradohub.com', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; color: #2BA6CB;') support@tradohub.com
                        //-
                           /column 2 
                        span.clear(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; display: block; clear: both;')
                  //-
                     /social & contact 
        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
    //-
       /BODY 
    //-
       FOOTER 
    //- table.footer-wrap(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 100%; clear: both;')
    //-   tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
    //-     td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
    //-     td.container(style='margin: 0 auto; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; display: block; max-width: 600px; clear: both;')
    //-       //-
    //-          content 
    //-       .content(style='margin: 0 auto; padding: 15px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; max-width: 600px; display: block;')
    //-         table(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 100%;')
    //-           tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
    //-             td(align='center', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
    //-               p(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
    //-                 a(href='#', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; color: #2BA6CB;') Terms
    //-                 | |
    //-                 a(href='#', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; color: #2BA6CB;') Privacy
    //-                 | |
    //-                 a(href='#', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; color: #2BA6CB;')
    //-                   unsubscribe(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;') Unsubscribe
            //-
               /content 
          //- td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
      //-
         /FOOTER 
