extends layout

block message
  p We have received a new partnership request.
  p
    strong Company
      br
      !=JSON.stringify(user.company)
  p
    strong Contact
      br
      !=JSON.stringify(user.contact)