!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
head(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
  

  meta(name='viewport', content='width=device-width', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
  title(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;') Tradohub.com
  body(bgcolor='#FFFFFF', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; height: 100%; width: 100%;')
  
    table.head-wrap(bgcolor='#F8F8F8', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 100%;')
      tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
        td.header.container(style='margin: 0 auto; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; display: block; max-width: 600px; clear: both;')
          .content(style='margin: 0 auto; padding: 15px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; max-width: 600px; display: block;')
            table(bgcolor='#F8F8F8', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 100%;')
              tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                  img(src='https://s3.amazonaws.com/tradohub/static/img/tradohub-blue-logo.png', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; max-width: 100%;')
                td(align='right', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                  h6.collapse(style='margin: 0; padding: 0; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom: 15px; color: #444; font-weight: 900; font-size: 14px; text-transform: uppercase;') Tradohub.com
        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
  
    table.body-wrap(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 100%;')
      tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
        td.container(bgcolor='#FFFFFF', style='margin: 0 auto; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; display: block; max-width: 600px; clear: both;')
          .content(style='margin: 0 auto; padding: 15px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; max-width: 600px; display: block;')
            table(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 100%;')
              tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                  h4(style='margin: 0; padding: 0; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom: 15px; color: #000; font-weight: 500; font-size: 23px;') 
                    | Dear Sir,
                  br(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')  
                  p.lead(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 17px; line-height: 1.6;')
                    | Thank you for your request for quote for LLDPE Grade 22460.
                  p.lead(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;') 
                    | Please find below your quote. The quote is inclusive of excise and VAT. Transportation charges extra.
                  table(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 100%;')
  
                    tbody(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                      tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;') Product
                        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;') LLDPE
                      tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;') Specification
                        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;') Grade 22460
                      tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;') Quantity
                        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;') 50 MT
                      tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;') Quote for Credit Payment
                        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;') INR 115500 / MT
                      tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;') Quote for Cash Payment
                        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;') INR 115000 / MT
  
                  br(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
  
                  p.callout(style='margin: 0; padding: 15px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 15px; font-weight: normal; font-size: 14px; line-height: 1.6; background-color: #ECF8FF;')
                    | Register your business on Tradohub for volume-based discounts and loyalty-based discounts.
                    a(href='http://www.tradohub.com/register?src=quoteEmail', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; color: #2BA6CB; font-weight: bold;')  Register Here »
  
                  table.social(width='100%', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; background-color: #ebebeb; width: 100%;')
                    tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                      td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
  
                        table.column(align='left', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 280px; float: left; min-width: 279px;')
                          tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                            td(style='margin: 0; padding: 15px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                              h5(style='margin: 0; padding: 0; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom: 15px; color: #000; font-weight: 900; font-size: 17px;') Connect with Us:
                              br
                              p(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
                                a.soc-btn.li(href='http://www.linkedin.com/company/tradohub', style='margin: 0; padding: 3px 7px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; color: #FFF; font-size: 12px; margin-bottom: 10px; text-decoration: none; font-weight: bold; display: block; text-align: center; background-color: #007bb6;') LinkedIn
                                a.soc-btn.tw(href='http://www.twitter.com/tradohub', style='margin: 0; padding: 3px 7px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; color: #FFF; font-size: 12px; margin-bottom: 10px; text-decoration: none; font-weight: bold; display: block; text-align: center; background-color: #1daced;') Twitter
  

                        table.column(align='left', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 280px; float: left; min-width: 279px;')
                          tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                            td(style='margin: 0; padding: 15px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                              h5(style='margin: 0; padding: 0; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom: 15px; color: #000; font-weight: 900; font-size: 17px;') Contact Info:
                              p(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;') Sanjay Domadiya
                              p(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
                                | Reg. Office: 602, Rajvi Arcade Opp. Gurukul Temple, Drive-In Road, Memnagar Ahmedabad - 380052, Gujarat, INDIA
                              p(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
                                | Phone:
                                strong(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;') +91 97277-76735
                                br(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                                | Email:
                                strong(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                                  a(href='emailto:support@tradohub.com', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; color: #2BA6CB;') support@tradohub.com
  
                        span.clear(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; display: block; clear: both;')
  
        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
  
    table.footer-wrap(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 100%; clear: both;')
      tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
        td.container(style='margin: 0 auto; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; display: block; max-width: 600px; clear: both;')
  
          .content(style='margin: 0 auto; padding: 15px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; max-width: 600px; display: block;')
            table(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; width: 100%;')
              tr(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                td(align='center', style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')
                  p(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;')
                    | © 2013 Tradohub.com All rights reserved.
  
        td(style='margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;')