.well
  ul.nav.nav-list(style="padding:0;")
    li.nav-header Company
    li: a(href="/about") About Us
    li: a(href="/about/contact") Contact Us
    li: a(href="/about/terms") Website Terms
    li: a(href="/about/privacy") Privacy

    li.nav-header Catalog
    li: a(href="/products") All Products
    if user
      li.nav-header  Orders
      li: a(href="/quote") Request For Quote
      li: a(href="/orders") Order Status    
      li.nav-header  Settings
      li: a(href="/account") Account