extends index
block page
  .lead About Tradohub
  hr
  p
    | Tradohub is the largest B2B platform in India which helps SMEs to 
    | procure all raw materials from large suppliers at discounted prices.
    br
    br
  p
    | We aggrgate the raw material demands of SMEs/MSMEs and negotiate with 
    | large, globally reputed and established companied to get the discounted 
    | prices and thus allow SMEs to compete globally. We aim to remove the 
    | middleman, distributors and agents who took major chunk of profit at the 
    | moment. We also take the complete responsibility of the transaction : 
    | ensuring timely delivery, best prices, quality and performance 
    | satisfaction and 24*7 customer support.
    br
    br
  p 
    | Tradohub provides online platform for end to end order process i.e from 
    | request quote to final payment and it is simple, easy to use and elegant !
    br
    br
  p
    strong
      | Benefits for SMEs/MSMEs:
    ul
      li Procure all raw materials at highly subsidized rates.
      li Materials delivered directly from manufacturer to buyer's factory/warehouse.
      li Removal of middle man and directly reach to the end supplier
      li Raise profit margins and nullify economies of scale of large enterprises.
