extends index
block page
  legend About Us
  div(style="text-align: justify;")
    p 
      | Tradohub.com is a group buying platform for raw material requirements of
      | MSMEs.
      strong
        | Our mission is to empower small businesses to start, grow 
        | and succeed in India.

    p 
      | We enable MSMEs to procure their raw material requirements directly
      | from large globally reputed manufacturers / producers, who are amongst our
      | supplier partners. We do this by grouping together raw material 
      | requirements of multiple MSMEs and negotiating large volume orders with 
      | our supplier partners. By removing the middlemen such as the 
      | distributors and agents, we ensure reliable quality, lower prices, 
      | timely delivery and peace of mind to our MSME clients, so that they can 
      | focus on growing their own business.

    p 
      | Tradohub.com manages the end-to-end order process, from the request 
      | quote and requirement aggregation to payment and product delivery. It
      | is simple, elegant and easy to use.

    p 
      | Our founding team comes with a diverse set of prior experiences including
      | setting up of a solar EVA manufacturing plant, building an online
      | payments platform, and project management consultancy. It includes
      | graduates from IIT Kharagpur and Nirma University.