extends index
block page
  .lead Contact Us
  .row
    .span4
      address.well
        strong Tradohub.com
        br
        | 602, Rajvi Arcade, Opp. Gurukul Temple, Drive-In Road, Memnagar
        br
        | Ahmedabad - 380052, Gujarat, INDIA
        //- br
        //- br
    .span5
      address.well
        | Phone: (079) 40325637
        br
        br
        | Business Queries: 
        a(href="mailto:info@tradohub.com?Subject=Query") info@tradohub.com
        br
        | Support Queries: 
        a(href="mailto:support@tradohub.com?Subject=Query") support@tradohub.com

  .lead Send us your query
  form.form-horizontal.span8(method="POST", action="/contact")
    .control-group
      label.control-label(for="email") Your Email Address *
      .controls
        input.input-block-level(type="email", id="email", name="email", placeholder="Email Address", required)
    
    .control-group
      label.control-label(for="subject") Query Type *
      .controls
        select.input-block-level(name="subject")
          option Select Type
          for m in ['Product related query', 'Order related query', 'Payment related query', 'Supplier partner related query', 'Other query / Feedback / Suggestions']
            option(value="#{m}") #{m}
        
    .control-group
      label.control-label(for="message") Message *
      .controls
        textarea.input-block-level(type="text", id="message", rows="5", name="message", placeholder="Write your message here...", required)

    .form-actions
      input.btn.btn-large.btn-primary(type="submit", value="Send Message")
