extends ../layout

block partial
  .row.form-signin
    .span5
      legend Partner With Tradohub
      p(style="font-size: 17px;")
        | Reach the fast growing Indian SME market,
        br
        | without taking the burden of marketing, logistics and other related activities.

    .span5.well.pull-right(style="background-color:#F0F0F0;")
      form(method="POST", action="/partners")

        label(for="company") Company Name
        input.input-block-level#company(type="text", name="company[name]", placeholder="Company Name", required, autofocus)
        br

        label(for="country") Country
        select.select2.input-block-level#country(name="company[country]", data-placeholder="Select Country")
          option(value="IND") India
          for c in countryList
            option(value="#{c['alpha-3']}") #{c['name']}
        br

        label(for="industry") Industry
        select.select2.input-block-level#industry(name="company[industry]", data-placeholder="Select Industry")
          option
          for i in industry
            option(value="#{i}") #{i}
        br

        label(for="name") Your Name        
        input.input-medium#name(type="text", name="contact[name][first]", placeholder="First Name", required)
        input.input-medium.pull-right(type="text", name="contact[name][last]", placeholder="Last Name", required)
        br

        label(for="email") Your Email
        input.input-block-level#email(type="email", name="contact[email]", placeholder="Email Address", required)
        br

        label(for="mobile") Mobile Number
        .input-prepend
          span.add-on +91 - 
          input.input-block-level#mobile(type="number", name="contact[mobile]", placeholder="Mobile No")
        br

        label(for="landline") Landline Number
        input.input-small#landline(type="number", name="contact[landline][area]", placeholder="Area Code")
        input.input-medium(type="number", name="contact[landline][no]", placeholder="Number")
        br

        button.btn.btn-block.btn-large.btn-success(type="submit")
          span Submit