extends ../index
block partial

  .span2.well
    include admin_nav

  .span9.well
    form(name="editProductForm", method="POST", action="/admin/products/#{product._id}")
      legend Edit Product
      input(type="hidden", name="_method", value="PUT")
      input(type="text", name="name", placeholder="product name", value="#{product.name}", required)
      br

      textarea(type="text", rows="10", name="description", placeholder="description") #{product.description}
      br

      input.btn.btn-large.btn-primary(type="submit")
        span Submit