form.well(style="background: #f0f0f0;", method="POST", action="/contact")
  h5 Subscribe for #{product.name} offers
  input(type="hidden", name="product", value="#{product.name}")
  input.input-block-level(type="email", name="email", placeholder="Email Address (required)", required)
  input.input-block-level(type="text", name="company", placeholder="Company Name (required)", required)
  input.input-block-level(type="text", name="mobile", placeholder="Mobile Number", min="7000000000", max="9999999999",  pattern=".{10}", title="Mobile no. must have 10 numbers")
  textarea.input-block-level(type="text", name="specification", placeholder="Estimated Quantity, Specification")
  input.btn-info.btn-large.btn-block(type="submit", value="Subscribe")