extends index
block products
  .row
    .span6
      h3.lead #{product.name}
    .span3
      a.btn.btn-large.btn-success(href="/quote") Request For Quote
  .row
    .span9
      hr
      p #{product.description}